<ul id="applications"></ul>

<script type="text/html" id="template-applications">
  <li class="application">
  	<div class="status-icon {{= status }}">
  	{{= host }}
  		<i class="fa fa-warning"></i>
  	</div>
  	<div>Apdex Score<span class="apdex-score">{{= apdex_score }} </span></div>
  	<div>Response Time<span class="response-time">{{= response_time }} ms</span></div>
  	<div>Troughput<span class="throughput">{{= throughput }}</span></div>
  	<div>Error Rate<span class="error-rate">{{= error_rate }}% </span></div>
  	<div id="gauge-{{= host }}" class="gauge" style="width: 200px; height: 90px;"></div>
    <div id="new-relic-{{= host }}"></div>
  </li>

</script>