

<ul id="applications"></ul>

<script type="text/html" id="template-applications">
  <li class="application">
  	<div class="status-icon {{= status }}">
  	{{= host }}
  		<i class="fa fa-warning"></i>
  	</div>
  	<div>Apdex Score<span class="apdex-score">{{= application_summary.apdex_score }} </span></div>
  	<div>Response Time<span class="response-time">{{= application_summary.response_time }} ms</span></div>
  	<div>Day Sessions<span class="day-sessions">{{= daily_users }}</span></div>
  	<div>Bounce Rate<span class="bounce-rate">{{= bounce_rate }}% </span></div>
  	<div id="gauge-{{= host }}" class="gauge" style="width: 200px; height: 90px;"></div>
    <div id="new-relic-{{= host }}"></div>
  </li>

</script>

<p>
  <div class="g-signin2" data-onsuccess="gaLoadedProperly"></div>
</p>

<!-- Load the JavaScript API client and Sign-in library. -->
<script src="https://apis.google.com/js/client:platform.js"></script>
